@import url('https://fonts.googleapi.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapi.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alumni Sans Pinstripe", serif;
  /* font-family: Roboto; */
  font-weight: 400;
  font-size: 2vw;
}

/*
.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", serif;
  font-weight: 400;
  font-style: italic;
}
*/


header, main, footer, nav {
  display: flex;
  flex-direction: row;
}

header {
  justify-content: center;
  font-size: 16px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav li {
  margin: 6px;
}

.capa_fw{
  width: 100vw;
}
 
main article{
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}

main article section .conteudoColuna {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main article section .conteudoColuna p {
  text-align: justify;
  margin: 0 10px 0 10px;
}

main article section .conteudoLinha {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

main article section .conteudoLinha p {
  text-align: justify;
  margin: 0 10px 0 10px;
}

main article section .img_mini {
  width: 300px;
}

main article section .conteudoGaleria {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

footer {
  gap: 50px;
  justify-content: space-evenly;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style-type: none;
  justify-content: flex-end;
}

h1 {
  font-size: 4vw;
  font-style: bold;
  padding: 1vw 0 1vw 0;
}

h2 {
  font-size: 3vw;
  font-style: bold;
  padding: 1vw 0 1vw 0;
}